#
# ~/.scripts/.aliases
#

# aliases 
alias dd='dd status=progress' 
alias ll="ls -lsha" 

alias SS="sudo systemctl" 
alias v="vim" 
alias sv="sudo vim" 
alias ka="killall" 
alias g="git" 
alias mkd="mkdir -pv" 
alias cpuinfo="cat /proc/cpuinfo"

alias cp="/usr/local/bin/advcp -g"
alias mv="/usr/local/bin/advmv -g"

alias dc="docker compose"

# hdd test
alias diskinfo="sudo smartctl -a"

alias tp="trash-put"
alias rm='echo "Use tp or trash-put (package trash-cli). For true rm use /bin/rm"; false' 

