#
# ~/.scripts/.aliases
#

# aliases 
alias dd='dd status=progress' 
alias ll="ls -lsha" 

alias SS="sudo systemctl" 
alias v="vim" 
alias sv="sudo vim" 
alias ka="killall" 
alias g="git" 
alias mkd="mkdir -pv" 
alias cpuinfo="cat /proc/cpuinfo"
# because of oh my zsh
unalias gcp 2>/dev/null
alias cp="gcp"
alias dc="docker compose"

# hdd test
alias diskinfo="sudo smartctl -a"

alias tp="trash-put"
alias rm='echo "Use tp or trash-put (package trash-cli). For true rm use /bin/rm"; false' 

