#
# ~/.scripts/.aliases
#

# aliases 
alias dd='dd status=progress' 
alias ll="ls -lsha" 

alias SS="sudo systemctl" 
alias v="vim" 
alias sv="sudo vim" 
alias ka="killall" 
alias g="git" 
alias mkd="mkdir -pv" 
alias cpuinfo="cat /proc/cpuinfo"
alias cp="rsync -av --partial --inplace --append --progress"
alias dc="docker-compose"

# hdd test
alias diskinfo="sudo smartctl -a"
